extends layout

block content  
  section
    .bio
      :marked
        Started to code at the age of 16 when my parents sent me to a web development course.
        
        I was preparing myself to enter the humanities university in Uruguay tostudy 
        literature but it became really obvious to me that if I wanted [to rent a house and 
        go out at night](https://nomadlist.com/montevideo-uruguay/cost-of-living) 
        I needed to leave my literature studies.
      
        ### First Job
        
        After a year of study, I got a job 
        at [TCS](http://www.tcs.com/) a huge Indian company that was hiring 
        in Montevideo.
        
        I worked there for almost 3 years, 2 in Uruguay and 1 in Argentina. After 
        that, I took a long vacation to visit some friends in Israel, one of 
        the best trips I've ever made.
        
        ### Consulting
        
        Since leaving TCS, I worked as a consultant first for JEE projects and 
        afterwards in JavaScript and client side technologies.
        
        I worked for big companies like Worldspan, Equifax among others and trained people 
        at UTE and Porto Seguro.
        
        ### Fast Forward
        
        I work for [Citrusbye](http://citrusbyte.com) as a frontend 
        developer and help organize the React community in Uruguay.
