extends layout

block content
  section.intro
    .bio
      :marked
        Hello, my name is Gabriel and [I code JavaScripts for food](https://github.com/cherta) and sometimes beers.
        [Contact me](mailto: gchertok@gmail.com), [read my articles](https://medium.com/@iamcherta/) or follow me on [twitter](https://twitter.com/iamcherta) I have a lot of things to say that nobody cares.

        I'm working on creating a React community in Uruguay and previously I used to run [JSConfUY](https://jsconf.uy).

        If you reached this far maybe you are also interested in my [bio](/bio.html).
