extends layout

block content  
  section
    .bio
      :marked
        Es una [meetup](#qu-es-una-meetup) de la tecnología [React](https://facebook.github.io/react/) que busca difundir los diferentes usos de la misma.
        
        ### Qué es una meetup
        
        Una meetup es un grupos de usuarios de cierta tecnología que se junta periódicamente para exponer y discutir los avances de la misma. 
        
        Nuestra intención es compartir expereriencias, acercar a personas con interés y crear una comunidad que desarrolle y difunda React en Uruguay.
        
        ### Qué es React
        
        React es una tecnología desarrollada por **Facebook** e **Instagram** que se emplea para hacer sitios web. Ambas empresas lo utilizan así como muchos otros sitios web modernos ya que ha cambiado la forma de hacer aplicaciones web.
        
        ### State of the art
        
        Toda meetup de tecnología tiene expositores que hacen una presentación de cierta parte de la tecnología y luego de estas presentaciones (entre 1 y 3 por encuentro) se abre un momento de charla informal donde se sirve comida y bebida.
        
        Estas meetup se llevan a cabo en empresas de software que se acondicionan para tales fines, se agrega un proyector y se corren los escritorios para hacer lugar a la gente que atiende a estas charlas.
        
        ### Qué necesitamos de Ud.
        
        Queremos cambiar la forma en que se hacen las meetups con nuestra meetup de React, queremos **moverla fuera de las empresas de software** hacia lugares más acordes para las **charlas informales** y fomentar el compartir más que el exponer.
        
        Nos interesa su establecimiento para hacer estas reuniones en la cual participan entre 15 y 30 personas. Nuestra intención es hacerla un día de semana, inmediatamente después del horario laboral, ejemplo: *Miércoles 19:00hs*.
        
        ### Sí, tenemos plata!
        
        Las meetups se financian con esponsoreo de empresas de software, el mismo sirve para dar comida y bebidas a los asistentes que no pagan por asistir.
        
        ### Resumen
        
        Nos gusta su local para llevar a cabo nuestra meetup.
        
        #### Lo que necesitamos es:
        
        * Lugar para entre 15 y 30 personas
        * Una pared "lisa" para proyectar las presentaciones
        * Un horario fuera del horario regular (tipo after office)
        
        #### A cambio ofrecemos:
        
        * Pagar por lo que la gente consuma
        * Dar difusión del local (facebook & twitter)
        * Estimular a que, terminado el evento, las personas se queden en el local consumiendo
        
        ### Contacto
        
        Si le interesa la propuesta nos encantaría charlar, mi nombre es Gabriel y mi email es gchertok [@] gmail [.] com.
        
        
        
        
        