// ---------------
// Axis Settings
// Check here for updates:
// https://github.com/jenius/axis/blob/master/axis/settings.styl
// ---------------

// Font stacks (add your own!)
$open-sans = "Open Sans"
$crimson = "Crimson Text"

$background-color = #F2F3F5

// Default font settings
$font-stack = $crimson
$font-size = 16
$font-color = #231900

// Default color
$default-color = $font-color

// Text highlight color
$highlight-color = #FFCC00
$complementary-color = #ff0066

// Custom image base path for axis mixins
$img-path = '/img/'

// Ligatures
$ligatures = false
